html {
    font-size: 1rem;
}

aside, footer {
    border-top: 1px solid #ccc;
}

.card, aside, aside h3, footer, footer h2 {
    margin-top: 1px;
}

nav ul, .hero, .container {
    background: #9d9e9e;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:  #c7c6c6;
    margin: 0px;
    padding: 0px;
    color: #405252;
    text-align: center;
}

nav ul {
    list-style: none;
    font-size: 1.2rem;
    max-width: 75%;
    margin: 12px auto;
    padding: 2px;
    display: flex;
    justify-content: center;
    gap: 4%;
}

.hero {
    max-width: 75%;
    margin: 2px auto;
    padding: 1px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.hero h2 {
    font-style: oblique;
    margin-left: 15px;
    font-size: 1.50rem;
    margin-bottom: 12px;
}

.hero img {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 75%;
    margin: 0 auto;
    padding: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 10%;
    box-sizing: border-box;
}

.container h2 {
    font-style: oblique;
    font-size: 1.5rem;
    margin-bottom: 10px;
    transition: color 0.3s ease;
}

.container h2:hover {
    color: #50816e;
}

.container p {
    font-size: 1.15rem;
    text-align: justify;
}

.card {
    width: 100%;
    min-height: 10%;
    padding: 8px;
    border: 2px solid #ddd;
    border-radius: 6px;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.card img {
    width: 25%;
    margin-bottom: 1px;
}

.card h3 {
    font-size: 1.35rem;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

.card:hover {
    background-color: #96b4b4;
}

.btn-style {
    padding: 4px 7px;
    border-radius: 8px;
    border: none;
    background-color: #717171;
    color: #405252;
    font-size: 0.85rem;
    font-weight: bold;
    cursor: pointer;
}

@keyframes pulse {
  0%   { transform: scale(1); }
  50%  { transform: scale(1.05); }
  100% { transform: scale(1); }
}


aside {
    margin: 0 auto;
    width: 75%;
    padding: 1px;
}

aside:hover {
    animation: pulse 1.5s ease-in-out infinite;
}

aside h3 {
   font-size: 1.35rem;
   transition: color 0.3s ease;
}

aside h3:hover {
    color: #50816e;
}

aside ul {
    list-style-type: disc;
    list-style-position: inside;
    font-size: 1.2rem;
    padding: 2px;
    display: flex;
    justify-content: center;
    gap: 2%;
}

footer {
    background-color: #ddd;
    color: #333;
    margin: 0 auto;
    padding: 10px;
    clear: both;
}

footer h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #405252;
}

footer p {
    margin: 0;
}