html {
    font-size: 14px;
}

html, .container h2, .card h3, aside, aside h3, footer {
    text-align: center;
}

aside, footer {
    border-top: 1px solid #ccc;
}

.card, aside, aside h3, footer, footer h2 {
    margin-top: 1px;
}

nav ul, .hero, .container {
    background: #9d9e9e;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:  #c7c6c6;
    margin: 0px;
    padding: 0px;
    color: #405252;
}

nav ul {
    list-style: none;
    font-size: 20px;
    max-width: 1000px;
    margin: 12px auto;
    padding: 2px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.hero {
    max-width: 1000px;
    margin: 2px auto;
    padding: 1px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.hero h2 {
    font-style: oblique;
    margin-left: 10px;
    font-size: 20px;
    margin-bottom: 12px;
}

.hero img {
    width: 1000px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    box-sizing: border-box;
}

.container h2 {
    font-style: oblique;
    font-size: 28px;
    margin-bottom: 10px;
}

.container p {
    font-size: 14px;
    text-align: justify;
}

.card {
    width: 1000px;
    height: 220px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-sizing: border-box;
}

.card img {
    width: 100px;
    margin-bottom: 1px;
}

.card h3 {
    font-size: 18px;
}

.card:hover {
    background-color: #96b4b4;
}

.btn-style {
    padding: 4px 7px;
    border-radius: 400px;
    border: none;
    background-color: #717171;
    color: #405252;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

aside {
    margin: 0 auto;
    padding: 1px;
}

aside h3 {
   font-size: 24px;
}

aside ul {
    list-style-type: disc;
    list-style-position: inside;
    font-size: 18px;
    padding: 2px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

footer {
    background-color: #ddd;
    color: #333;
    margin: 0 auto;
    padding: 10px;
    clear: both;
}

footer h2 {
    margin-bottom: 5px;
}

footer p {
    margin: 0;
}